#folder_wrapper {
	background-color: aqua;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

#folder_item {
	background: #ededed;
	border-radius: 7px;
	border: 3px solid #a1a1a1;
	margin: 10px;
	min-height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}